.folder-files{
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
}

.folder-files img{
    width: 100%;
}

.video-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    box-sizing: border-box;
}

.video-container video{
    max-width: 100%;
    max-height: 100%;
}

.video-close{
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1001;
}

@media screen and (max-width: 600px) {
    .folder-files{
        width: 50%;
    }
}